= form_for @game do |f|
  .input
    = f.text_field :player_1_name, class: 'player-input', placeholder: placeholder_with_error(@game, :player_1_name, 'player_1_name')
  .input
    = f.text_field :player_2_name, class: 'player-input', placeholder: placeholder_with_error(@game, :player_2_name, 'player_2_name')
  .input
    = f.submit 'Let\'s Start', class: 'start'