/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require font-awesome
 *= require_tree .
 *= require_self
 */

#board-wrapper {
    margin: 0 auto;
    width: 600px;
    position: relative;

}

#board-wrapper #level-popup {
    background: white none repeat scroll 0 0;
    border-radius: 12px;
    height: 275px;
    margin-left: 150px;
    margin-top: 170px;
    position: absolute;
    top: 0;
    width: 300px;
    -webkit-box-shadow: 2px 3px 15px 0px grey;
    -moz-box-shadow: 2px 3px 15px 0px grey;
    box-shadow: 2px 3px 15px 0px grey;
}

#message {
    font-size: 24px;
    height: 50px;
    margin-top: 30px;
    text-align: center;
    width: 100%;
}

#level-popup #tropy {
    color: goldenrod;
    font-size: 50px;
    font-weight: bolder;
    margin-top: 22px;
    text-align: center;
}

#next-level {
    margin-top: 70px;
    text-align: center;
}

.hide {
    display: none;
}

.clear {
    clear: both;
}